/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* import all css files here */
@import "./fonts.css";
@import "./navbar.css";
@import "./footer.css";
@import "./cards.css";
@import "./home.css";
@import "./animations.css";

/* base body style */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #111;
}
